name: Build Go Program

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Install alsa
        run: sudo apt install -y libasound2-dev
        
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: mod tidy
        run: go mod tidy
      - name: build
        run: CGO_ENABLED=1 go build -v -o dist/showbridge-linux ./cmd/showbridge